<div class="container" id="wrapper">

    <div class="row prvi">

        <div class="col-md-4">
        </div>

        <div class="col-md-4">
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search by value" name="value" [(ngModel)]="value">
                </div>
            </form>
        </div>

        <div class="col-md-4">
        </div>
    </div>



    <div class="row drugi">
        <div class="col-md-4 ico" *ngFor="let ico of data | searchpipe:value">
            <div class=" item-wrapper">
                <img class="img-fluid " src={{ico.imgpath}} alt="slika1 " />
                <h2 class="title ">{{ico.name}}</h2>
                <p class="desc">{{ico.short_description}}</p>
                <p>Price: {{ico.value}}</p>
                <p>Average rate: {{ico.average_rate}}</p>
                <a *ngIf="isAdmin==0" href="show-ico/{{ico.ico_id}}/{{ico.name}}/{{ico.description}}/{{ico.value}}"><button class="button">Learn more</button></a>
                <div *ngIf="isAdmin==1">
                    <a routerLink="/show-ico"><button class="button">Update ICO/Change</button></a> <br/><br/>
                    <button (click)="delete(ico.ico_id)">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>