<div class="container-fluid" id="wrapper">
    <div class="row prvi">
        <div class="col-md-4 col-sm-9 col-sx-12">
        </div>

        <div class="col-md-4 col-sm-9 col-sx-12 forma">
            <form role="form" [formGroup]="registerForm" id="wrapper">
                <div class="form-group  ">
                    <input type="text" class="form-control" formControlName='email' placeholder="E-mail">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" formControlName='username' placeholder="Username">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" formControlName='password' placeholder="Password">
                </div>
                <button (click)="register()" class="btn btn-default">Register</button>
            </form>
        </div>

        <div class="col-md-4 col-sm-9 col-sx-12">
        </div>

    </div>
</div>