.prvi {
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.forma {
    border: 2px solid white;
    border-radius: 10px;
    padding: 50px;
}

// https://studio.tailorbrands.com/business/16975287/wizard/edit/color/palette?currentId=899262812&logosStepId=107894379&originalIndex=0