    #wrapper {
        height: 15rem;
        background: rgba(0, 0, 0, 0.524);
        text-align: center;
        color: white;
        button {
            border-radius: 10px;
            border: 2px solid white;
            background: rgba(0, 0, 0, 0.255);
            color: white;
            height: 50px;
            padding: 10px;
        }
        button:hover {
            background: rgba(137, 135, 135, 0.255);
        }
    }
    
    .content {
        margin-top: 1rem;
        .p1 {
            font-size: 30px;
        }
        .p2 {
            font-size: 15px;
        }
    }