<div class="container-fluid" id="wrapper">
    <div class="row prvi">
        <div class="col-md-4">
        </div>

        <div class="col-md-4 content">
            <p class="p1">Pre-Sale Is Open!</p>
            <p class="p2">Pre-Sale Ends August 31st</p>
            <a class="nav-link" routerLink="/login">
                <button>BUY TOKENS NOW</button>
            </a>
            <p class="p2 "><b>Special Pre-Sale</b> Token Price: $0.001 (80% discount)</p>
        </div>

        <div class="col-md-4">
        </div>
    </div>
</div>