<div class="container-fluid" id="wrapper">
    <div class=" row prvi ">

        <div class="col-md-4 col-sm-3 col-xs-12 ">
        </div>

        <div class="col-md-4 col-sm-3 col-xs-12 ">
            <img src="./assets/images/logo.gif ">
            <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
                book. </p>
        </div>

        <div class="col-md-4 col-sm-3 col-xs-12 ">
        </div>

    </div>
</div>