<div class="container-fluid" id="wrapper">
    <div class=" row prvi ">

        <div class="col-md-4 col-sm-12 col-xs-12 klasa">
            <i class="fa fa-globe fa-lg white-text mr-md-4 slicica"></i>
            <p>People all around the globe are using our platform to choose in which ICO to invest!</p>
        </div>

        <div class="col-md-4 col-sm-12 col-xs-12 klasa">
            <i class="fa fa-search"></i>
            <p>Explore and enjoy!</p>

        </div>

        <div class="col-md-4 col-sm-12 col-xs-12 klasa">
            <i class="fa fa-file"></i>
            <p>Find and read about new ICOs. Educate yourself. Invest smart.<br/><b>GET RICH!</b></p>
        </div>

    </div>
</div>